@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    width: 100%;
    overflow-x: hidden;
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.noise::before{
    content: "";
    z-index: 30;
    position: absolute;
    opacity: .5;
    width: 300%;
    height: 300%;
    left: -50%;
    top: -120%;
    background-image: url(https://www.sonotron.lu/storage/img/pic/noise-texture.png);
    animation: noise 8s steps(10) infinite;
}
@keyframes noise {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }
  .blur{
      filter: blur(30px);
  }
  body[data-menu] .menu{
      display: block;
      opacity: 0;
      animation: menu .2s ease-out forwards;
  }
  @keyframes menu{
    100%{
        opacity: 1;
    }
}
.burger-line01, .burger-line02{
    transform-origin: center center;
}
.burger-line01{
    transition: all .3s ease-in-out;
}
.btn-menu:hover .burger-line01{
    width: 24px;
}
body[data-menu] .burger-line01{
    top: 50%;
    width: 24px;
    transform: translateY(-50%) rotate(-45deg);
}
body[data-menu] .burger-line02{
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
}
body[data-menu]{
    max-height: 100vh;
    overflow: hidden;
}
body[data-stroke] .stroke{
    -webkit-text-fill-color: none; /* Will override color (regardless of order) */
}
.text-animated-1{
    opacity: 0;
    transform: translateY(30px);
    animation: apparition 0.8s 0.2s ease-out forwards;
}
.text-animated-2{
    opacity: 0;
    transform: translateY(30px);
    animation: apparition 0.8s 0.4s ease-out forwards;
}
.text-animated-3{
    opacity: 0;
    transform: translateY(30px);
    animation: apparition 0.8s 0.6s ease-out forwards;
}
.text-animated-4{
    opacity: 0;
    transform: translateX(-30px);
    animation: apparition 0.8s 0.7s ease-out forwards;
}
.text-animated-5{
    opacity: 0;
    transform: translateX(-30px);
    animation: apparition 0.8s 0.8s ease-out forwards;
}
.ball-animated-1{
    opacity: 0;
    transform: translateX(30px);
    animation: apparition 1s 0.9s ease-out forwards;
}
.ball-animated-2{
    opacity: 0;
    transform: translateY(30px);
    animation: apparition 1s 1s ease-out forwards;
}
@keyframes apparition{
    100%{
        opacity: 1;
        transform: none;
    }
}
canvas{
    position: absolute;
    top: 0;
}
input[type="range"]::-webkit-slider-thumb {
    width: 25px;
    -webkit-appearance: none;
      appearance: none;
    height: 25px;
    cursor: ew-resize;
    background: #CE7DF5;
    border-radius: 50%;
    
}
.text-infinite{
    animation: scrollTxt 35s linear infinite;
}
@keyframes scrollTxt {
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(-100%, 0);
    }
}
.text-beta{
    animation: scrollBeta 65s linear infinite;
}
@keyframes scrollBeta {
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(-100%, 0);
    }
}
.text-beta2{
    animation: scrollBeta2 65s linear infinite;
}
@keyframes scrollBeta2 {
    0%{
        transform: translate(-100%, 0);
    }
    100%{
        transform: translate(0, 0);
    }
}
.stroke{
    color: black;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.shape-rotate{
    animation: rotateShape 20s linear infinite;
}
@keyframes rotateShape {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.test-hover .link-menu:hover{
    animation: hoverMenu 1s ease-in forwards;
}
@keyframes hoverMenu {
    0%{
        width: 96px;
    }
    100%{
        width: 20px;
    }
}
.cross{
    transform:rotate(90deg);
}
.message::placeholder{
    padding-left: 20px;
    padding-top: 20px;
}
.swiper-button-prev:after{
    display: none !important;
}
.swiper-button-next:after{
    display: none !important;
}
.swiper-pagination-bullet{
    margin: 0 5px;
}
.swiper-pagination-bullet-active{
    background-color: #B9CC7A;
}
.btn-send::after{
    display: block;
    z-index: -1;
    content: '';
    width: 0%;
    height: 100%;
    background-color: #E7FE98;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
}
.btn-send:hover::after{
    width: 100%;
    right: 0;
}
.btn-soutenir div{
    transition: all .3s ease-in-out;
}
.btn-soutenir:hover div{
    width: 15px;
}

.link-menu div{
    transition: all .3s ease-in-out;
}
.link-menu:hover div{
    width: 96px;
}
.sublink-menu{
    transition: color .2s ease-in-out;
}
.sublink-menu:hover{
    color: #B9CC7A;
}
.cursor{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 999;
    transition: transform 0.2s;
}
@media (min-width:1024px) {
    html, *{
        cursor: none;
    }
}
.reveal [class*="reveal-"]{
    opacity: 0;
    transform: translateY(30px);
}
.reveal-visible [class*="reveal-"]{
    opacity: 1;
    transform: translateY(0);
    transition: .8s cubic-bezier(.5, 0, 0, 1);
}
.reveal-visible .reveal-2{
    transition-delay: .1s;
}
.reveal-visible .reveal-3{
    transition-delay: .2s;
}
.reveal-visible .reveal-4{
    transition-delay: .3s;
}
.reveal-visible .reveal-5{
    transition-delay: .4s;
}
.reveal-visible .reveal-6{
    transition-delay: .5s;
}