@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.noise::before{
    content: "";
    z-index: 30;
    position: absolute;
    opacity: .5;
    width: 300%;
    height: 300%;
    left: -50%;
    top: -120%;
    background-image: url(https://www.sonotron.lu/storage/img/pic/noise-texture.png);
    animation: noise 8s steps(10) infinite;
}
@keyframes noise {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }
  .blur{
      filter: blur(20px);
  }
  body[data-menu] .menu{
      display: block;
  }
  body[data-menu] .burger{
    display: none;
}
  body[data-menu] .close{
    display: block;
}
.text-animated-1{
    opacity: 0;
    transform: translateY(30px);
    animation: apparition 1s 0.2s ease-out forwards;
}
.text-animated-2{
    opacity: 0;
    transform: translateY(30px);
    animation: apparition 1s 0.4s ease-out forwards;
}
.text-animated-3{
    opacity: 0;
    transform: translateY(30px);
    animation: apparition 1s 0.6s ease-out forwards;
}
.text-animated-4{
    opacity: 0;
    transform: translateX(-30px);
    animation: apparition 1s 0.7s ease-out forwards;
}
.text-animated-5{
    opacity: 0;
    transform: translateX(-30px);
    animation: apparition 1s 0.8s ease-out forwards;
}
.ball-animated-1{
    opacity: 0;
    transform: translateX(30px);
    animation: apparition 1s 0.9s ease-out forwards;
}
.ball-animated-2{
    opacity: 0;
    transform: translateY(30px);
    animation: apparition 1s 1s ease-out forwards;
}
@keyframes apparition{
    100%{
        opacity: 1;
        transform: none;
    }
}
canvas{
    position: absolute;
    top: 0;
    right: 0;
}